<div class="card">
    <span class="pie-chart-name">{{pieChartName}}</span>
    <div #chartDiv class=""></div>
    <div class="achievement">
        <p class="percentage">{{ percentage }}%</p>
        <p>Achievement</p>
    </div>

    <!-- Summary Info Row -->
    <div class="summary-info">
        <div class="summary-row">
            <div class="summary-item">{{ label }}: <span>{{ inputValue }}</span> </div>
            <div class="divider">|</div>
            <div class="summary-item">Achieved: <span>{{ achieved }}</span> </div>
        </div>
        <div class="summary-row">
            <div class="summary-item">Shortfall: <span>{{ shortfall }}</span> </div>
        </div>
    </div>
</div>