<app-header></app-header>
<div class="container">
    <h1 class="text-primary">Sales Dashboard</h1>
    <button class="btn btn-success">Click Me</button>
</div>
<app-bar></app-bar>
<!-- 
<app-pie-chart [target]="1000" [achieved]="270" [pieChartName]="'Quick Heal'"></app-pie-chart>
<app-pie-chart [target]="1000" [achieved]="500" [pieChartName]="'Quick Heal'"></app-pie-chart>
<app-pie-chart [commit]="1000" [achieved]="750" [pieChartName]="'Quick Heal'"></app-pie-chart>
<app-pie-chart [target]="1000" [achieved]="1250" [pieChartName]="'Quick Heal'"></app-pie-chart>
<app-pie-chart [commit]="1000" [achieved]="750" [pieChartName]="'Quick Heal'"></app-pie-chart>

<app-donut-pie-chart [target]="100" [achieved]="75" pieChartName="Sales Performance"></app-donut-pie-chart> -->


<app-semi-circle-pie-chart [target]="10999999" [achieved]="10994720"
    [pieChartName]="'Quick Heal'"></app-semi-circle-pie-chart>
<app-semi-circle-pie-chart [commit]="134300" [achieved]="912210"
    [pieChartName]="'Quick Heal'"></app-semi-circle-pie-chart>
<app-semi-circle-pie-chart [target]="1342021230" [achieved]="12532320"
    [pieChartName]="'Quick Heal'"></app-semi-circle-pie-chart>
<br>
<app-donut-pie-chart [target]="1000" [achieved]="270" [pieChartName]="'Quick Heal'"></app-donut-pie-chart>
<app-donut-pie-chart [commit]="1000" [achieved]="910" [pieChartName]="'Quick Heal'"></app-donut-pie-chart>
<app-donut-pie-chart [target]="1000" [achieved]="1250" [pieChartName]="'Quick Heal'"></app-donut-pie-chart>
<app-donut-pie-chart [target]="1000" [achieved]="270" [pieChartName]="'Quick Heal'"></app-donut-pie-chart>
<app-donut-pie-chart [commit]="1000" [achieved]="910" [pieChartName]="'Quick Heal'"></app-donut-pie-chart>