<app-pie-chart [target]="1000" [achieved]="270" [pieChartName]="'Quick Heal'"></app-pie-chart>
<app-pie-chart [target]="1000" [achieved]="500" [pieChartName]="'Quick Heal'"></app-pie-chart>
<app-pie-chart [commit]="1000" [achieved]="750" [pieChartName]="'Quick Heal'"></app-pie-chart>
<app-pie-chart [target]="1000" [achieved]="1250" [pieChartName]="'Quick Heal'"></app-pie-chart>
<app-pie-chart [commit]="1000" [achieved]="750" [pieChartName]="'Quick Heal'"></app-pie-chart>
<app-header></app-header>
<div class="container">


  <h1 class="text-primary">Sales Dashboard</h1>
  <button class="btn btn-success">Click Me</button>

</div>
<app-bar></app-bar>